body{
    background-color: #F4C6D8;
}
hr{
    border-style: none;
    background-color: #F4C6D8 ;
    border-top-style: dotted;
    border-color: white;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #900037 ;
}
h3{
    color: #900037 ;
}
.circular{
    border-radius: 300%;
}